@font-face {
	font-family : Nexa_Book;
	src:url(../fonts/Nexa_Book-webfont.woff2);
}
@font-face {
	font-family : Nexa_Heavy;
	src:url(../fonts/Nexa_Heavy-webfont.woff2);
}
@font-face{
	font-family:yueyuan;
	src:url(../fonts/悦园改小.ttf);
}
.logo{
	font-family: Nexa_Heavy;
	font-weight: bold;
	color: #ff605b;
	font-size: 21px;
	
	margin-top: 30px;
	margin-left: 25px;
}

.backgroundImage {
	width: 100%;
	height: 100%;
	position: fixed;  
	z-index: -1;

}

.navbar{
	font-size: 23px;
	margin-top: 26px;
	padding-bottom: 20px;
	font-family: yueyuan;
	font-weight: bold;
}
.submit_button{
	margin-top: 25px;
	margin-left: 31px;
}

nav ul li {
	display: inline-block;
	padding-left: 20px;

}

nav .logo{
	display: inline-block;

	
}

nav ul{
	display: inline-block;
	margin-right: 1;
	margin-top: 1;
	font-size: 25px;
	font-family: Brandon;
	font-weight: bold;

}

.right{
	float: right;
}
.left{
	float: left;
}

a{
	color:black;
}
.nodec{
	text-decoration: none;
}

.login_form{
	border: 1px solid pink; 
	text-align: center; 
	background-color: #ff605b; 
	width: 250px; 
	border-radius: 30px; 
	font-family: Nexa_Heavy;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	margin:auto;
	margin-top: 1000px;

}

.input_box{
	width: 200px;
	height: 30px;
	border:0px;
	border-radius: 30px;
	margin-bottom: 20px;
	outline:none;
}
.form_submit_botton{
	width: 202px;
	height: 33px;
	border: 2px solid white;
	background-color: #ff605b;
	border-radius: 30px;
	margin-bottom: 15px;
	color: white;

}

a:visited{
	color: black;
}




.nav_index{
	
	height: 188px;
	background-color: rgba(207 ,85 ,85 ,0.8);
}
.backgroundImage_index{
	z-index: -1;
	position: fixed;  
	width: 100%;
	background-repeat: repeat;
}
.div1{
	width:100%;
	height:200px;
}
.div2{
	height:200px;
	background-color: rgba(207 ,85 ,85 ,0.8);
}
.div3{
	height:200px;
}
.div4{
	height:400px;
	background-color: rgba(207 ,85 ,85 ,0.8);

}
.icon1{
	margin-top: 20px;
	margin-left: 178px;
	height:60px;
}
.ui1{
	height: 430px;
	margin-top: -280px;
	margin-left: 65%;
	
}

.ui2{
	height: 430px;
	margin-top: -43px;
	margin-left: 125px;
	

}
.icon2{
	margin-top: 95px;
	padding-right: 20%;
	height:70px;
	float: right;
}
.apple{
	height: 70px;
	margin-left: 143px;
}
.android{
	height: 70px;
	margin-left: 98px;
	margin-top: 39px;
}
.footer{
	background-color: rgba(54,53,52,0.9);
	height: 130px;
	margin-top: -142px;
}

.foot_icon{
	
	padding-right: 25px;
	height: 30px;
}




.food-box{
	display: inline-block;
	margin-right: 9px;
	margin-left: 13px;
	margin-bottom: 5px;
	width: 240px;
	height: 240px;
	background-size: cover;
	color: white;
	text-align: center;
	overflow: hidden;
	opacity: 1;
	position: relative;
	border-radius:8px;

}
.food-box:hover{
	opacity: 0.6;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;


}
.container{
	display: inline-block;
	width: 33%;
}
.btn{
	display: inline-block;
	border-radius:30px;
	margin-bottom:20px;
	cursor:pointer;
}
.delete{
	padding-left:15px;
	padding-right:15px;
	margin-left:30px;
	background-color:#30a2ff;
	color : white;
	padding-top:5px;
	padding-bottom:5px;
}
.edit{
	padding-left:15px;
	padding-right:15px;
	margin-left:43px;
	background-color:#30a2ff;
	color : white;
	padding-top:5px;
	padding-bottom:5px;

}
.edit:hover{
	background-color: #2370b0;
}
.delete:hover{
	background-color: #2370b0;
}

.food-box h5{
	font-size: 31px;
	margin:30px 0px 50px 0;
	z-index: 2;
	position: inherit;
}
.food-box h6{
	font-size: 20px;
	z-index: 2;
	position: inherit;
}
.food-box p{
	font-size: 16px;
	z-index: 2;
	position: inherit;
	margin-top: -20px;

}
.food-container{
	max-width: 800px;
	min-width: 800px;
	margin-top: 200px;
}
.black-cover{
	background-color:black;
	width: 100%;
	height: 100%; 
	opacity: 0.2;
	position: absolute; 
	z-index:1;
}

.box-1{
	background-image: url("../img/餐厅1.jpg");
}


.box-2{
	background-image: url("../img/餐厅2.jpg");
}
.box-3{
	background-image: url("../img/餐厅3.jpg");
}
.box-4{
	background-image: url("../img/餐厅4.jpg");
}
.box-5{
	background-image: url("../img/餐厅5.jpg");
}
.box-6{
	background-image: url("../img/餐厅6.jpg");
}
.box-7{
	background-image: url("../img/餐厅7.jpg");
}
.box-8{
	background-image: url("../img/餐厅8.jpg");
}
.box-9{
	background-image: url("../img/餐厅9.jpg");
}
.about-body{
	background-image: url("../img/bg-img.png");
}
.add-body{
	background-image: url("../img/bg-img.png");
}

.input-box{
	width:400px;
	margin-bottom: 20px;
	outline:none;
	height: 30px;
	border-radius: 10px;
	border:2px solid gray;
	padding-left: 10px;
}

.for-form{
	max-width: 1000px;
	
	
}
.create-restaurant{
	max-width: 450px;
	margin:auto;
	margin-top: 50px;

	
}
.submit-button{
	background-color: blue;
	border-radius: 30px;
	color: white;
	border: 0px;
	height: 30px;
	width: 100px;
	margin-left:55px;
	margin-top: 35px;
}
.title{
	margin:auto;
	max-width: 400px;
}
.about-footer{
	background-color: rgba(54,53,52,0.7);
	height: 130px;
	margin-top: 50px;

}
.footer-img{
	max-width: 400px;
	float: right;
	margin-top: -78px;
	padding-right: 60px;
}
.footer-img img{
	width: 45px;
	padding-right: 10px;
}
.about-footer-top{
	color: white;
	font-family: Nexa_Book;
	font-weight: normal;
	font-size: 14px;
	padding-top: 25px;
	padding-left: 25px;
}























canvas{
  position:absolute;
left:0;
top:0;




}

/*body {
  overflow: hidden;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  font-family: arial;
}*/
/*p{margin:15px 0px;}
#interface{
width:250px;
position:absolute;
border:0px solid black;
padding:40px; 
box-sizing: border-box;
color:#222;
  height:100%;
  overflow-y:scroll;
    background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 1px 0px 10px #999;

}*/


input[type="range"] {

	width:100%;

}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    height:10px;

}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

input[type="button"] {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
      background-color:#FF2948;
border:0px;
  width:100%;
  color:white;
  font-weight:bold;
  font-size:14px;
}

input{
border:0px;
 background-color:transparent;
  margin-top:20px;
  margin-bottom:20px;
  
}
h1{padding:0px;

margin-top:0px;
}

select {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
    
  width:100%;
  
}a{
  color:#FF2948;
  font-weight:700;
  
}
 
input[type="text"] {

  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border:0px;
  border-bottom:2px solid #FF2948;
  text-align:center;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}































.emoji {
  width: 120px;
  height: 120px;
  margin: 15px;
  background: #FFDA6A;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.emoji:after {
  position: absolute;
  bottom: -40px;
  font-size: 18px;
  width: 60px;
  left: calc(50% - 30px);
  color: #8A8A8A;
}

.emoji__hand, .emoji__thumb {
  position: absolute;
}
.emoji__hand:before, .emoji__hand:after, .emoji__thumb:before, .emoji__thumb:after {
  position: absolute;
  content: '';
}



.emoji--like {
  background: #548DFF;
}

.emoji--like .emoji__hand {
  left: 25px;
  bottom: 30px;
  width: 20px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  z-index: 0;
  animation: hands-up 2s linear infinite;
}
.emoji--like .emoji__hand:before {
  left: 25px;
  bottom: 5px;
  width: 40px;
  background: inherit;
  height: 10px;
  border-radius: 2px 10px 10px 2px;
  box-shadow: 1px -9px 0 1px #FFFFFF, 2px -19px 0 2px #FFFFFF, 3px -29px 0 3px #FFFFFF;
}
.emoji--like .emoji__thumb {
  border-bottom: 20px solid #FFFFFF;
  border-left: 20px solid transparent;
  top: -25px;
  right: -25px;
  z-index: 2;
  transform: rotate(5deg);
  transform-origin: 0% 100%;
  animation: thumbs-up 2s linear infinite;
}
.emoji--like .emoji__thumb:before {
  border-radius: 50% 50% 0 0;
  background: #FFFFFF;
  width: 10px;
  height: 12px;
  left: -10px;
  top: -8px;
  transform: rotate(-15deg);
  transform-origin: 100% 100%;
  box-shadow: -1px 4px 0 -1px #FFFFFF;
}

@keyframes hands-up {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg) translateY(-10px);
  }
  75%, 100% {
    transform: rotate(0deg);
  }
}
/*@keyframes thumbs-up {
  25% {
    transform: rotate(20deg);
  }
  50%, 100% {
    transform: rotate(5deg);
  }
}*/